<ul class="usa-card-group era-guidance-card-highlight era-guidance-card-highlight--maturity-model">
  <li class="usa-card usa-card--flag usa-card--media-right">
    <div class="usa-card__container era-guidance-card-highlight--maturity-model__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">Eviction Diversion Maturity Model</h2>
      </header>
      <div class="usa-card__media era-guidance-card-highlight--maturity-model__media">
        <div class="usa-card__img">
          <svg class="usa-icon era-guidance-card-highlight--docs__icon" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#file_present"></use>
          </svg>
        </div>
      </div>
      <div class="usa-card__body">
        <p>
          The maturity model is also provided in a PDF to take away and work off-line with your staff
        </p>
      </div>
      <div class="usa-card__footer">
        <a class="era-guidance-card-highlight--maturity-model__link" href="{{ site.baseurl }}/assets/eviction-diversion-maturity-model.pdf">
          <button class="usa-button">View the maturity model</button>
        </a>
      </div>
    </div>
  </li>
</ul>