<ul class="usa-card-group era-guidance-card-highlight">
  <li class="tablet:grid-col-6 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">
          Guidelines for ERA program online applications
        </h2>
      </header>
      <div class="usa-card__body">
        <p>
          Learn how to design your online applications thoughtfully and intentionally to collect the information you need from the applicant.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="{{ site.baseurl }}/service-design/application-web-sites/">
          <button class="usa-button">
            ERA Program Applications
          </button>
        </a>
      </div>
    </div>
  </li>
  <li class="tablet:grid-col-6 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">
          Guidelines for ERA program websites
        </h2>
      </header>
      <div class="usa-card__body">
        <p>
          Learn how to develop your website to inform renters, landlords, and utility providers about the ERA program.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="{{ site.baseurl }}/service-design/program-web-sites/">
          <button class="usa-button">
            ERA Program Websites
          </button>
        </a>
      </div>
    </div>
  </li>
</ul>