<ul class="usa-card-group era-guidance-card-highlight era-guidance-card-highlight--docs">
  <li class="tablet-lg:grid-col-10 usa-card usa-card--flag usa-card--media-right">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 class="usa-card__heading">Example self-attestation forms</h2>
      </header>
      <div class="usa-card__media era-guidance-card-highlight--docs__media">
        <div class="usa-card__img">
          <svg class="usa-icon era-guidance-card-highlight--docs__icon" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#file_present"></use>
          </svg>
        </div>
      </div>
      <div class="usa-card__body">
        <p>
          View example self-attestation forms currently used by ERA grantees.
        </p>
      </div>
      <div class="usa-card__footer">
        <a href="{{ site.baseurl }}/promising-practices/forms/">
          <button class="usa-button">View example forms</button>
        </a>
      </div>
    </div>
  </li>
</ul>