
          <div class="layoutmanager">
            <div class="container-fluid layout-container">
              <div class="row layout-row">
                <div class="col-md-9 col-lg-9 layout-column">
                  <div class="tre-card tre-card-hero tre-card-hero--base-lightest era-guidance__hero">
                    <div class="tre-card__container tre-card-hero--base-lightest__container">
                      <header class="tre-card__header tre-card-hero__header">
                        <h2 class="tre-card__heading tre-card-hero__heading">
                          Emergency Rental Assistance Programs
                        </h2>
                      </header>
                      <div class="tre-card__body">
                        <p>
                          View an index of all emergency rental assistance programs to find assistance near you.
                        </p>
                      </div>
                      <div class="tre-card__footer">
                        <a href="{{ site.baseurl }}/program-index/">
                          <button class="usa-button usa-button--outline">
                            Find rental assistance in your area
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
