<div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <h4 class="usa-alert__heading">Looking for rental assistance?</h4>
    <p class="usa-alert__text">
      Renters and landlords can <a href="https://www.consumerfinance.gov/coronavirus/mortgage-and-housing-assistance/renter-protections/emergency-rental-assistance-for-renters/?utm_source=outreach&utm_medium=banner&utm_campaign=treasury_banner/">find out what emergency rental assistance covers, how it works, and who’s eligible</a> on the interagency housing portal hosted by the Consumer Financial Protection Bureau (CFPB).
    </p>
  </div>
</div>
