<div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <h4 class="usa-alert__heading">Help for renters</h4>
    <p class="usa-alert__text">
      If you’re having trouble making rent payments as a result of the coronavirus pandemic, you’re not alone. <a href="https://www.consumerfinance.gov/coronavirus/mortgage-and-housing-assistance/renter-protections/emergency-rental-assistance-for-renters/">Get up-to-date information on rental assistance, eviction protections, and housing rights.</a>
    </p>
  </div>
</div>
