<footer id="footer">
  <div id="portal-footer">
    <div class="mq--t">
      <div class="inner">
        <div class="region region-footer">
          <nav
            role="navigation"
            aria-labelledby="block-portalfooter-menu"
            id="block-portalfooter"
            data-block-plugin-id="menu_block:portal-footer"
            class="col block block-menu navigation block-system-menublock menu--portal-footer"
          >
            <h3 id="block-portalfooter-menu">Bureaus</h3>
            <ul class="menu">
              <li class="menu-item">
                <a href="http://www.ttb.gov/"
                  >Alcohol and Tobacco Tax and Trade (TTB)</a
                >
              </li>
              <li class="menu-item">
                <a href="http://www.moneyfactory.gov/"
                  >Bureau of Engraving and Printing (BEP)</a
                >
              </li>
              <li class="menu-item">
                <a href="http://www.fiscal.treasury.gov/"
                  >Bureau of the Fiscal Service (BFS)</a
                >
              </li>
              <li class="menu-item">
                <a href="http://www.fincen.gov/"
                  >Financial Crimes Enforcement Network (FinCEN)</a
                >
              </li>
              <li class="menu-item">
                <a href="http://www.irs.gov/">Internal Revenue Service (IRS)</a>
              </li>
              <li class="menu-item">
                <a href="http://www.occ.gov/"
                  >Office of the Comptroller of the Currency (OCC)</a
                >
              </li>
              <li class="menu-item">
                <a href="http://www.usmint.gov/">U.S. Mint</a>
              </li>
            </ul>
          </nav>

          <nav
            role="navigation"
            aria-labelledby="block-portalfooter-2-menu"
            id="block-portalfooter-2"
            data-block-plugin-id="menu_block:portal-footer"
            class="col block block-menu navigation block-system-menublock menu--portal-footer"
          >
            <h3 id="block-portalfooter-2-menu">Inspector General Sites</h3>

            <ul class="menu">
              <li class="menu-item">
                <a href="https://oig.treasury.gov/"
                  >Office of Inspector General (OIG)</a
                >
              </li>
              <li class="menu-item">
                <a href="http://www.treasury.gov/tigta"
                  >Treasury Inspector General for Tax Administration (TIGTA)</a
                >
              </li>
              <li class="menu-item">
                <a href="http://www.sigtarp.gov/"
                  >Special Inspector General, Troubled Asset Relief Program
                  (SIGTARP)</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="https://home.treasury.gov/services/report-fraud-waste-and-abuse"
                  >Report Scams, Fraud, Waste &amp; Abuse</a
                >
              </li>
              <li class="menu-item">
                <a href="https://www.sigpr.gov/"
                  >Special Inspector General for Pandemic Recovery (SIGPR)</a
                >
              </li>
            </ul>
          </nav>

          <nav
            role="navigation"
            aria-labelledby="block-portalfooter-3-menu"
            id="block-portalfooter-3"
            data-block-plugin-id="menu_block:portal-footer"
            class="col block block-menu navigation block-system-menublock menu--portal-footer"
          >
            <h3 id="block-portalfooter-3-menu">U.S. Government Shared</h3>

            <ul class="menu">
              <li class="menu-item">
                <a
                  href="https://home.treasury.gov/services/government-shared-services/enterprise-business-solutions"
                  >Enterprise Business Solutions</a
                >
              </li>
              <li class="menu-item">
                <a href="https://arc.publicdebt.treas.gov/"
                  >Administrative Resource Center (ARC)- Bureau of the Fiscal
                  Service</a
                >
              </li>
              <li class="menu-item">
                <a href="https://www.treasurydirect.gov/govt/govt.htm"
                  >Treasury Direct Services for Governments</a
                >
              </li>
            </ul>
          </nav>

          <nav
            role="navigation"
            aria-labelledby="block-portalfooter-4-menu"
            id="block-portalfooter-4"
            data-block-plugin-id="menu_block:portal-footer"
            class="col block block-menu navigation block-system-menublock menu--portal-footer"
          >
            <h3 id="block-portalfooter-4-menu">Additional Resources</h3>

            <ul class="menu">
              <li class="menu-item">
                <a href="https://home.treasury.gov/footer/privacy-act"
                  >Privacy Act</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="https://www.treasury.gov/resource-center/sb-programs/Pages/contacts-small-biz-specialists.aspx"
                  >Small Business Contacts</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="https://www.treasury.gov/about/budget-performance/Pages/default.aspx"
                  >Budget and Performance</a
                >
              </li>
              <li class="menu-item">
                <a href="http://www.treasurydirect.gov/"
                  >TreasuryDirect.gov Securities/Bonds</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="https://home.treasury.gov/footer/freedom-of-information-act"
                  >Freedom of Information Act (FOIA)</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="https://www.treasury.gov/No-Fear-Act/Pages/default.aspx"
                  >No FEAR Act Data</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="https://home.treasury.gov/footer/prohibited-personnel-practices-and-whistleblower-protection"
                  >Whistleblower Protection</a
                >
              </li>
            </ul>
          </nav>

          <nav
            role="navigation"
            aria-labelledby="block-portalfooter-5-menu"
            id="block-portalfooter-5"
            data-block-plugin-id="menu_block:portal-footer"
            class="col block block-menu navigation block-system-menublock menu--portal-footer"
          >
            <h3 id="block-portalfooter-5-menu">Other Government Sites</h3>

            <ul class="menu">
              <li class="menu-item">
                <a href="http://www.usa.gov/">USA.gov</a>
              </li>
              <li class="menu-item">
                <a href="http://www.usajobs.gov/">USAJOBS.gov</a>
              </li>
              <li class="menu-item">
                <a href="http://www.opm.gov/">OPM.gov</a>
              </li>
              <li class="menu-item">
                <a href="http://www.mymoney.gov/">MyMoney.gov</a>
              </li>
              <li class="menu-item">
                <a href="http://www.data.gov/">Data.gov</a>
              </li>
              <li class="menu-item">
                <a href="https://www.usa.gov/forms">Forms.gov</a>
              </li>
              <li class="menu-item">
                <a href="http://www.regulations.gov/">Regulations.gov</a>
              </li>
              <li class="menu-item">
                <a href="http://www.paymentaccuracy.gov/"
                  >PaymentAccuracy.gov</a
                >
              </li>
              <li class="menu-item">
                <a href="http://www.socialsecurity.gov/myaccount/"
                  >my Social Security</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- /footer -->

  <!-- ______________________ Post FOOTER _______________________ -->

  <div id="post-footer">
    <div class="mq--t">
      <div class="inner">
        <div class="col-1">
          <div class="region region-post-footer">
            <nav
              role="navigation"
              aria-labelledby="block-languages-menu"
              id="block-languages"
              data-block-plugin-id="menu_block:languages"
              class="block block-menu navigation block-system-menublock menu--languages"
            >
              <div class="lang-menu">
                <ul>
                  <li>
                    <a
                      href="https://home.treasury.gov/utility/languages/alrbyt-arabic"
                      lang="ar"
                      title="Arabic"
                      >العربية</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://home.treasury.gov/utility/languages/zhongwenchinese"
                      lang="zh"
                      title="Chinese"
                      >中文</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://home.treasury.gov/utility/languages/espanol"
                      lang="es"
                      title="Spanish"
                      >Español</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://home.treasury.gov/utility/languages/korean"
                      lang="ko"
                      title="Korean"
                      >한국어</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://home.treasury.gov/utility/languages/tagalog"
                      lang="tl"
                      title="Tagalog"
                      >Tagalog</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://home.treasury.gov/utility/languages/tiengviet-vietnamese"
                      lang="vi"
                      title="Vietnamese"
                      >TiếngViệt</a
                    >
                  </li>
                </ul>
              </div>
            </nav>

            <nav
              role="navigation"
              aria-labelledby="block-utilityfooter-menu"
              id="block-utilityfooter"
              data-block-plugin-id="menu_block:utility-footer"
              class="block block-menu navigation block-system-menublock menu--utility-footer"
            >
              <div class="site-menu">
                <ul>
                  <li>
                    <a
                      href="https://home.treasury.gov/subfooter/privacy-policy"
                      title="Privacy Policy"
                      >Privacy Policy</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://home.treasury.gov/subfooter/google-privacy-policy"
                      title="Google Privacy"
                      >Google Privacy</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.treasury.gov/Pages/site-map.aspx"
                      title="Site Map"
                      >Site Map</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://home.treasury.gov/subfooter/site-policies-and-notices"
                      title="Site Policies and Notices"
                      >Site Policies and Notices</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.treasury.gov/resource-center/faqs/Pages/default.aspx"
                      title="FAQs"
                      >FAQs</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.treasury.gov/pages/tgovproblemsfeedbackform.aspx"
                      title="Feedback"
                      >Feedback</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.treasury.gov/careers/Pages/default.aspx"
                      title="Careers"
                      >Careers</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://home.treasury.gov/utility/accessibility"
                      title="Accessibility"
                      >Accessibility</a
                    >
                  </li>
                </ul>

                <div class="site-plugins">
                  Required Plug-ins
                  <a href="http://get.adobe.com/reader/" class="external"
                    >Adobe® Reader®</a
                  >
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-2">
          <div class="social--small">
            <ul>
              <li class="twitter first">
                <a href="https://twitter.com/USTreasury" class="external"
                  ><span>Twitter</span>
                </a>
              </li>
              <li class="facebook">
                <a href="https://facebook.com/ustreasury" class="external"
                  ><span>Facebook</span></a
                >
              </li>
              <!--
                              <li class="flickr"><a href="http://www.flickr.com/photos/ustreasury"><span>Flickr</span></a></li>
                              <li class="youtube last"><a href="https://www.youtube.com/user/USTreasGov"><span>YouTube</span></a></li>
							  -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /footer -->
</footer>
