<header id="header" class="">
  <div class="mq--t">
    <div id="header-region">
      <div id="region-header" class="mq--t clearfix region region-header">
        <div id="block-burgermenublock-2" data-block-plugin-id="treasury_burger_menu_block" class="block block-treasury-mega-menu block-treasury-burger-menu-block no-underline">
          <div class="burger">
            <span class="descriptive-text">MENU</span>
            <span class="hidden-text">MENU
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
            </span>
          </div>
        </div>
        <div id="block-hamilton-branding" data-block-plugin-id="system_branding_block" class="site-branding block block-system block-system-branding-block no-underline">
          <h1>
            <a href="/" title="Home" rel="home" class="logo">
              <img class="treasury-logo" src="{{ site.baseurl }}/assets/img/logo.svg" alt="Seal of the U.S. Department of the Treasury, 1789"><span class="logo-text">U.S. Department of the Treasury</span>
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>
 </header>