<div class="abstract field field--name-field-page-abstract field--type-text-long field--label-hidden field__item">
  <p>
    The Treasury has collected links associated with the various Emergency Rental Assistance programs to help tenants and landlords find rental assistance in your area.
  </p>
</div>
<p>
  Each grantee has some flexibility to develop their rental assistance program to suit the needs of their local community. While grantees have agreed to follow certain guidelines, individual requirements and options may vary. These links may include resources funded outside of the ERA program.
</p>
<p>
  Grantees are encouraged to <a href="mailto:EmergencyRentalAssistance@treasury.gov@treasury.gov?subject=Update to ERA programs index">notify Treasury</a> of updates to ERA tenant/landlord access information; Treasury will update this site periodically.
</p>
<p>Last updated: May 11, 2021</p>

<h4>Helpful tip</h4>
<p>
  Check the list to see if your state, county, or Tribe/Tribal Affiliation has a more specific URL before applying through the state. In most cases, states encourage tenants and landlords to apply to the most local program available.  
</p>
