<div class="abstract field field--name-field-page-abstract field--type-text-long field--label-hidden field__item">
  <p>
    Treasury has collected websites associated with our grantees’ Emergency Rental Assistance (ERA) programs to help tenants and landlords find rental assistance programs in their local areas. 
  </p>
</div>
<p>
  Each ERA grantee has some flexibility to develop their rental assistance program to suit the needs of their local community, while complying with requirements outlined in their ERA financial assistance agreement, the ERA statute, and Treasury’s guidelines. These websites may include resources not funded with the ERA award issued by Treasury. 
</p>
<p>
  Grantees are encouraged to <a href="mailto:ERAGranteeWebResources@treasury.gov?subject=Update to ERA programs index">notify Treasury</a> of updates to ERA tenant/landlord access information; Treasury will update this website periodically.
</p>
<p>Last updated: May 19, 2021</p>

<h4>Helpful tip</h4>
<p>
  Check the list to see if your city, county, Tribe, or Tribally Designated Housing Entity (TDHE) has a more specific ERA program website before applying through the state. In most cases, states encourage tenants and landlords to apply to the local ERA program in their area.
</p>
