footer {
  margin-top: 40px;
  font-size: 91%;
  color: #fff;
}

@media only screen and (min-width: 1025px) {
  footer {
    margin-top: 90px;
  }
}

.region-footer,
.region-post-footer {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .region-footer,
  .region-post-footer {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1458px) {
  .region-footer,
  .region-post-footer {
    margin-left: 0;
    margin-right: 0;
  }
}

footer a,
footer a:hover,
footer a:link,
footer a:link:hover,
footer a:visited,
footer a:visited:hover {
  color: #fff;
}

footer h3 {
  color: #fff;
  text-transform: uppercase;
}


footer #portal-footer:before,footer #post-footer:after {
  content: " ";
  display: block
}

footer #portal-footer {
  background: #1c2936;
  padding-top: 20px;

  &:before {
    background-size: 70px 70px;
    height: 80px;
    width: 100%;
    margin-top: -50px;
    background: url(/assets/img/treasury-seal.png) center top no-repeat;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer #portal-footer:before {
    background-size: 100px 100px;
    margin-top: -70px;
    height: 100px;
  }

  footer #portal-footer .col {
    width: 20%;
    float: left;
    margin-right: 20%;
  }

  footer #portal-footer .col:nth-child(3) {
    margin-right: 0;
  }

  footer #portal-footer .col:nth-child(4) {
    clear: left;
  }
}

@media (max-width: 767px) {
  footer .menu--portal-footer {
    margin-bottom: 0;
  }
}

footer #portal-footer .inner {
  padding-top: 1%;
}

footer #portal-footer .col {
  line-height: 2em;
  padding-top: 20px;
}

footer #portal-footer .col li {
  font-size: 0.94em;
}

footer #portal-footer .col li a,
footer #portal-footer .col li a:link,
footer #portal-footer .col li a:visited {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1025px) {
  footer #portal-footer:before {
    background-size: 120px 120px;
    margin-top: -80px;
    height: 120px;
  }

  footer #portal-footer .col {
    width: 15.29412%;
    float: left;
    margin-right: 5.88235%;
  }

  footer #portal-footer .col:last-child {
    margin-right: 0;
  }
}

footer #portal-footer .block-menu ul.menu li {
  display: block;
  margin-bottom: 12px;
  line-height: 1.37;
}

footer #post-footer {
  background: #0d1925;
  margin-left: auto;
  margin-right: auto;
}

footer #post-footer:after {
  clear: both;
}

footer #post-footer #block-languages {
  padding-bottom: 0;
  margin-bottom: 0;
}

footer #post-footer .inner {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 0.86em;
  line-height: 160%;
}

@media (max-width: 767px) {
  footer #post-footer .inner {
    padding-top: 15px;
  }
}

@media (min-width: 768px) {
  footer #post-footer .col-1 {
    width: 73.91304%;
    float: left;
    margin-right: 4.34783%;
  }

  footer #post-footer .col-2 {
    width: 21.73913%;
    float: right;
    margin-right: 0;
  }
}

footer #post-footer .col-1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer #post-footer .col-1 ul li {
  display: inline;
}

footer #post-footer div.lang-menu ul li:after {
  padding: 0 5px;
  content: " | ";
}

footer #post-footer div.lang-menu ul li:last-child:after {
  content: "";
}

footer #post-footer div.site-menu ul a,
footer #post-footer div.site-menu ul a:link,
footer #post-footer div.site-menu ul a:visited {
  opacity: 0.6;
  text-decoration: none;
}

footer #post-footer div.site-menu ul li:after {
  padding: 0 5px;
  content: "\2022";
}

footer #post-footer div.site-menu ul li:last-child:after {
  content: "";
}

footer #post-footer .col-2 .block-menu .menu a,
footer #post-footer .col-2 .block-menu .menu a:link,
footer #post-footer .col-2 .block-menu .menu a:visited {
  color: #fff;
  opacity: 0.6;
}

footer #post-footer .col-2 img {
  width: 100px;
  padding-top: 10px;
}

footer #post-footer .site-plugins {
  opacity: 0.6;
  font-style: italic;
}

footer #post-footer .site-plugins a {
  margin-left: 5px;
}

.menu--portal-footer h3 {
  color: #fff !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-family: "Source Sans Pro", Calibri, sans-serif !important;
  padding: 0 0 0.3em !important;
  margin: 0 !important;
  font-size: 1.1em !important;
  letter-spacing: 0 !important;
}

.path--front .tile-link-block h3,
.path--front .tile-link-block h3 a {
  font-family: Merriweather, Cambria, serif !important;
  color: #fff !important;
  font-size: 20px;
}

@media (min-width: 768px) {
  .path--front .tile-link-block h3,
  .path--front .tile-link-block h3 a {
    font-size: 26px !important;
  }
}

@media (min-width: 1025px) {
  .path--front .tile-link-block h3,
  .path--front .tile-link-block h3 a {
    font-size: 40px !important;
  }
}

.path--front .slide__headline .sub-nav-group span.field--name-title,
.path--front .slide__headline .sub-nav-group span.field--name-title a,
.path--front .slide__headline h2,
.path--front .slide__headline h2 a,
.sub-nav-group .path--front .slide__headline span.field--name-title,
.sub-nav-group .path--front .slide__headline span.field--name-title a {
  font-family: Merriweather, Cambria, serif !important;
  color: #fff !important;
  font-size: 30px;
}

@media (min-width: 768px) {
  .path--front .slide__headline .sub-nav-group span.field--name-title,
  .path--front .slide__headline .sub-nav-group span.field--name-title a,
  .path--front .slide__headline h2,
  .path--front .slide__headline h2 a,
  .sub-nav-group .path--front .slide__headline span.field--name-title,
  .sub-nav-group .path--front .slide__headline span.field--name-title a {
    font-size: 48px !important;
  }
}

@media (min-width: 1025px) {
  .path--front .slide__headline .sub-nav-group span.field--name-title,
  .path--front .slide__headline .sub-nav-group span.field--name-title a,
  .path--front .slide__headline h2,
  .path--front .slide__headline h2 a,
  .sub-nav-group .path--front .slide__headline span.field--name-title,
  .sub-nav-group .path--front .slide__headline span.field--name-title a {
    font-size: 60px !important;
  }
}

.path--front #two-two .two-two-row1__container {
  margin: 0 0 40px;
}

@media (min-width: 768px) {
  .path--front #two-two .two-two-row1__container {
    margin: 0 0 40px;
  }

  .path--front .two-two-row1 {
    margin-left: 0;
    margin-right: 0;
  }
}

.path--front .two-two-row1 {
  margin-left: 0;
  margin-right: 0;
}

.path--front .preface-region {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.path--front .preface-region:after {
  content: " ";
  display: block;
  clear: both;
}

@media (max-width: 767px) {
  .path--front
    .preface-region
    .block-views-blockfeatured-stories-block-1:after {
    content: "";
    display: table;
    clear: both;
  }
}

.grid--2up:after,
.grid:after,
.hero:after {
  content: " ";
}

@media (min-width: 768px) {
  .path--front .preface-region .block-views-blockfeatured-stories-block-1 {
    width: 56.52174%;
    float: left;
    margin-right: 4.34783%;
  }

  .path--front .preface-region .block-treasury-social-hub {
    width: 39.13043%;
    float: right;
    margin-right: 0;
  }
}

body.path--front #two-two .two-two-row2 .block-region-row2-col2 > div {
  padding-bottom: 0;
}


.drupal-messages ol,.no-ul-list,.region-branding .block-system-menublock ul.menu,.social ul,.social--round ul,.social--small ul,footer #portal-footer .block-menu ul.menu,nav.breadcrumb ol {
  list-style-type: none;
  padding: 0;
  margin: 0
}