/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// Styles copied from treasury.gov
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  overflow: hidden !important;
  word-wrap: normal;
}

.main {
  margin: 0px 20px;
}

@media (min-width: 768px) {
  .main {
    margin: 80px 50px;
  }
}

// bit of grid stuff here
.layoutmanager .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.layoutmanager .layout-row:after {
  content: "";
  display: table;
  clear: both;
}

.layoutmanager .row {
  margin-right: -15px;
  margin-left: -15px;
}

.layoutmanager .layout-row .layout-column {
  padding-top: 0;
}

.layoutmanager .col-lg-11 {
  width: 86.66666667%;
}

.layoutmanager .col-lg-10 {
  width: 78.33333333%;
}

.layoutmanager .col-lg-9 {
  width: 70%;
}

.layoutmanager .col-lg-8 {
  width: 61.66666667%;
}

.layoutmanager .col-lg-7 {
  width: 53.33333333%;
}

.layoutmanager .col-lg-6 {
  width: 45%;
}

.layoutmanager .col-lg-5 {
  width: 36.66666667%;
}

.layoutmanager .col-lg-4 {
  width: 28.33333333%;
}

.layoutmanager .col-lg-3 {
  width: 20%;
}

.layoutmanager .col-lg-2 {
  width: 11.66666667%;
}

.layoutmanager .col-lg-1 {
  width: 3.33333333%;
}

.layoutmanager .col-lg-1,
.layoutmanager .col-lg-10,
.layoutmanager .col-lg-11,
.layoutmanager .col-lg-12,
.layoutmanager .col-lg-2,
.layoutmanager .col-lg-3,
.layoutmanager .col-lg-4,
.layoutmanager .col-lg-5,
.layoutmanager .col-lg-6,
.layoutmanager .col-lg-7,
.layoutmanager .col-lg-8,
.layoutmanager .col-lg-9 {
  float: left;
}

.layoutmanager .col-lg-1,
.layoutmanager .col-lg-10,
.layoutmanager .col-lg-11,
.layoutmanager .col-lg-12,
.layoutmanager .col-lg-2,
.layoutmanager .col-lg-3,
.layoutmanager .col-lg-4,
.layoutmanager .col-lg-5,
.layoutmanager .col-lg-6,
.layoutmanager .col-lg-7,
.layoutmanager .col-lg-8,
.layoutmanager .col-lg-9,
.layoutmanager .col-md-1,
.layoutmanager .col-md-10,
.layoutmanager .col-md-11,
.layoutmanager .col-md-12,
.layoutmanager .col-md-2,
.layoutmanager .col-md-3,
.layoutmanager .col-md-4,
.layoutmanager .col-md-5,
.layoutmanager .col-md-6,
.layoutmanager .col-md-7,
.layoutmanager .col-md-8,
.layoutmanager .col-md-9,
.layoutmanager .col-sm-1,
.layoutmanager .col-sm-10,
.layoutmanager .col-sm-11,
.layoutmanager .col-sm-12,
.layoutmanager .col-sm-2,
.layoutmanager .col-sm-3,
.layoutmanager .col-sm-4,
.layoutmanager .col-sm-5,
.layoutmanager .col-sm-6,
.layoutmanager .col-sm-7,
.layoutmanager .col-sm-8,
.layoutmanager .col-sm-9,
.layoutmanager .col-xs-1,
.layoutmanager .col-xs-10,
.layoutmanager .col-xs-11,
.layoutmanager .col-xs-12,
.layoutmanager .col-xs-2,
.layoutmanager .col-xs-3,
.layoutmanager .col-xs-4,
.layoutmanager .col-xs-5,
.layoutmanager .col-xs-6,
.layoutmanager .col-xs-7,
.layoutmanager .col-xs-8,
.layoutmanager .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.block {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.block .sub-nav-group span.field--name-title,
.block h2,
.sub-nav-group .block span.field--name-title {
  padding-bottom: 0.2em;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

.block-page-title-block .sub-nav-group span.field--name-title,
.block-page-title-block h1,
.block-page-title-block h2,
.layoutmanager .sub-nav-group span.field--name-title,
.layoutmanager h1,
.layoutmanager h2,
.sub-nav-group .block-page-title-block span.field--name-title,
.sub-nav-group .layoutmanager span.field--name-title {
  line-height: 115%;
  padding-bottom: 30px;
  background-image: url(../img/h1-underline.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  font-weight: 300;
  font-family: Merriweather, Cambria, serif;
  letter-spacing: -1px;
  margin: 0 !important;
}

.abstract {
  font-size: 1.6em;
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
  font-weight: 200;
  line-height: 1.4em;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .abstract {
    font-size: 22px;
    line-height: 1.45;
  }
}

.mq--t:after {
  display: block;
  clear: both;
  content: " ";
}

a[href$=".pdf"]:after,
a[href$=".zip"]:after,
a[href$=".doc"]:after,
a[href$=".docx"]:after,
a[href$=".xls"]:after,
a[href$=".xlsx"]:after,
a[href$=".ppt"]:after,
a[href$=".pptx"]:after {
  content: "";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  width: 20px;
  height: 20px;
  text-align: right;
  margin-left: 8px;
  position: relative;
  top: 2px;
}

a[href$=".pdf"]:after {
  background: url(../img/pdf.svg) 0 100% no-repeat;
  background-size: contain;
}

a[href$=".docx"]:after {
  background: url(../img/treasury-doc.svg) 0 100% no-repeat;
}

a[href$=".xlsx"]:after {
  background: url(../img/treasury-sheet.svg) 0 100% no-repeat;
}


#banner--treasury-alert {
  text-align: center;
  color: #fff;
  z-index: 1;
  line-height: 16px;
  font-weight: 600;
  font-family: "Source Sans Pro", Calibri, sans-serif;
  font-size: 12px;
  padding: 6px 10px 8px;
}

#banner--treasury-alert.green {
  background-color: #4b8025;
  color: #fff;
}

#banner--treasury-alert a:visited {
  color: #fff;
}

#banner--treasury-alert a:hover,
#banner--treasury-alert a:focus,
#banner--treasury-alert a:active {
  color: inherit;
  font-weight: inherit;
  text-decoration: underline;
}

@media (min-width: 1025px) {
  #banner--treasury-alert {
    padding: 6px 30px 8px;
    font-size: 16px;
  }

  #banner--treasury-alert a {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #banner--treasury-alert {
    margin-top: 68px;
    font-size: 14px;
    padding: 6px 30px 8px;
  }

  #banner--treasury-alert a {
    font-size: 14px;
  }
}

// New styles
// ---------------------------------------------------------------------------

// From TDDS
h4 {
  // TODO: Need to load the semi-bold font
}

.era-article {
  p + h3,
  ul + h3,
  .grid-row + h3 {
    margin-top: 3rem;
  }

  h4 {
    padding: 0;
  }
}

.era-sidenav__title {
  margin: 0;
  color: #0053a3;
}

.era-guidance {
  &-section-links {
    margin-top: units(5);
  }

  &__placeholder {
    color: color($theme-color-base-dark);
  }

  &__faq-reference {
    display: block;
    margin-bottom: units(4);
  }

  &__datestamp {
    @include u-font("body", "xs");
    @include u-text("bold");
  }

  &__cfpb {
    margin-top: 2rem;
  }
}

a[href$=".pdf"].era-guidance__remove-pdf-icon:after {
  background: none;
  width: 0;
  height: 0;
}

.era-guidance-home__section {
  margin-bottom: units(5);

  .era-guidance__hero {
    margin-top: 0;
  }
}

// temporary for demo purposes
.era-guidance-section-links {
  a:visited {
    color: color($theme-color-primary);
  }

  h3 {
    text-transform: capitalize;
    letter-spacing: inherit;
  }

  h4 {
    margin-top: units(5);
  }
}

.usa-tag--new {
  background-color: color($theme-color-success-dark);
}

sup a {
  text-decoration: none;
}

.era-guidance-example {
  background-color: color($theme-color-base-lightest);
  border-left-color: color($theme-color-base-dark);

  &__heading {
    color: color($theme-color-base-darkest);
  }

  &__text {
    margin-bottom: units(1);
  }
}

.era-guidance-sidenav .usa-sidenav {
  .era-guidance-sidenav__back {
    padding: 0;
    margin-bottom: units(2);

    &:hover {
      text-decoration: underline;
      background-color: #fff;
    }
  }
}

.era-guidance-best-practice-sites__examples {
  margin-top: units(2);

  .usa-card {
    max-width: 715px;
  }
}

.era-guidance-case-studies {
  margin-top: units(4);

  a[href$=".pdf"]:after {
    background: none;
  }
}

.era-guidance-faq {
  &__title {
    margin-top: 3rem;
    text-transform: inherit;
    letter-spacing: inherit;
    
  }
}

.era-guidance-faq-category + .era-guidance-faq .era-guidance-faq__title {
  margin-top: 1rem;
}

.era-guidance-image--full-width {
  max-width: inherit;
}

.era-guidance-collection {
  &__row {
    margin-bottom: units(4);
  }

  &__title {
    margin: 1rem 0 0 0;
  }

  &__heading {
    text-transform: inherit;
    letter-spacing: inherit;
    font-size: 1.13rem; // this is what is in use in the examples on the USWDS page for this component but it comes through in the code as 1.33rem. I suspect this is a bug so overriding here.
    color: color($theme-color-base-darker);
  }

  &__link[href$=".docx"]:after,
  &__link[href$=".pdf"]:after {
    background: none;
    width: 0;
    height: 0;
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .5rem;
  }
  
  &__doc {
    display: inline-block;
  }
}

.era-guidance__diagram {
  @include at-media(tablet) {
    max-width: 480px;
  }
}

// Guidelines
.era-guidelines {
  &__footnotes-container {
    margin-top: units(6);
  }
}

.era-guidelines-icon--not-ok,
.era-guidelines__do-not {
  fill: color($theme-color-error-dark);
  color: color($theme-color-error-dark);
}

.era-guidelines-icon--ok,
.era-guidelines__do {
  fill: color($theme-color-success-dark);
  color: color($theme-color-success-dark);
}

.era-guidelines-principles {
  &__item {
    font-size: size('body', 'sm');
    line-height: lh('body', 6);
  }
}

.era-article .era-guidelines-principle {
  &__title {
    position: relative;
    margin: 3.5em 0 0 0;

    &:before {
      content: "";
      position: absolute;
      height: 1rem;
      width: 60px;
      top: -2.5rem;
    }
  }

  &__design {
    color: color($theme-principle-design);

    &:before {
      background: color($theme-principle-design);
    }
  }

  &__cognitive {
    color: color($theme-principle-cognitive);

    &:before {
      background: color($theme-principle-cognitive);
    }
  }

  &__control {
    color: color($theme-principle-control);

    &:before {
      background: color($theme-principle-control);
    }
  }

  &__visibility {
    color: color($theme-principle-visibility);

    &:before {
      background: color($theme-principle-visibility);
    }
  }

  &__friction {
    color: color($theme-principle-friction);

    &:before {
      background: color($theme-principle-friction);
    }
  }
}

.era-guidelines-practice {
  &__title {
    margin: 1.5em 0 0 0;
  }
}

.era-guidelines-example {
  &__title {
    margin-top: 1.5em;
  }

  &__img {
    max-width: 90%;
    margin: 1em 0 2em;

    @include at-media(desktop) {
      max-width: 100%;
    }
  }
}

.era-guidelines-annotation {
  font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 1.06rem;
  line-height: 1.1;
  margin-bottom: units(4);

  &__list {
    counter-reset: era-guidelines-annotation;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .era-guidelines-annotation__list.is-list-2 {
    counter-increment: era-guidelines-annotation 5;
  }
  .era-guidelines-annotation__list.is-list-3 {
    counter-increment: era-guidelines-annotation 6;
  }
  .era-guidelines-annotation__list.is-list-4 {
    counter-increment: era-guidelines-annotation 8;
  }
  .era-guidelines-annotation__list.is-list-5 {
    counter-increment: era-guidelines-annotation 10;
  }
  .era-guidelines-annotation__list.is-list-6 {
    counter-increment: era-guidelines-annotation 11;
  }
  .era-guidelines-annotation__list.is-list-7 {
    counter-increment: era-guidelines-annotation 12;
  }
  .era-guidelines-annotation__list.is-list-8 {
    counter-increment: era-guidelines-annotation 14;
  }
  .era-guidelines-annotation__list.is-list-9 {
    counter-increment: era-guidelines-annotation 15;
  }

  &__item {
    position: relative;
    display: block;
    min-height: 1.5rem;
    margin-bottom: 1.5rem;
    counter-increment: era-guidelines-annotation;
    list-style: none;
  }

  &__item::before {
    position: absolute;
    top: calc((1.8rem - .5rem)/-2);
    left: 0;
    display: block;
    padding: calc((1.8rem - (2ex*.9))*.5);
    content: counter(era-guidelines-annotation, upper-latin);
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 99rem;
    font-feature-settings: "tnum" 1,"kern" 1;
    background-color: color($theme-annotation);
    box-shadow: 0 0 0 0.25rem #fff;
    color: #fff;
    font-weight: 700;
    line-height: .9;
    text-align: center;
    z-index: 100;
  }

  &__text {
    display: inline-block;
    margin-top: -.8rem;
    margin-left: 2.5rem;
    vertical-align: top;
  }
}

// Maturity model 

.era-guidance-maturity-model {
  margin-top: units(5);

  &__col {
    margin-bottom: units(5);
  }
}

.era-guidance-maturity-level {
  position: relative;
  display: block;
  min-height: 130px;
  max-width: 768px;
  padding: units(2) units(4);
  font-size: size('body', '2xs');
  
  &__title {
    position: absolute;
    top: 60%;
    left: 0;
    margin-left: -30px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    transform-origin: 0 0;
    transform: rotate(270deg);
  }

  &__action {
    font-size: size('body', 'sm');
    font-weight: bold;
  }

  &__list {
    margin: 0;
  }
}

.era-guidance-maturity-level--maturing {
  border: 2px solid color($theme-maturity-maturing);
  border-left: 40px solid color($theme-maturity-maturing);
  border-bottom-right-radius: 6px;
}

.era-guidance-maturity-level--adapting {
  border: 2px solid color($theme-maturity-adapting);
  border-bottom: 0px;
  border-left: 40px solid color($theme-maturity-adapting);
}

.era-guidance-maturity-level--emerging {
  border: 2px solid color($theme-maturity-emerging);
  border-bottom: 0px;
  border-left: 40px solid color($theme-maturity-emerging);
}

.era-guidance-maturity-level--starting {
  border: 2px solid color($theme-maturity-starting);
  border-bottom: 0px;
  border-left: 40px solid color($theme-maturity-starting);
  border-top-right-radius: 6px;
}

.era-guidance-card-highlight {
  margin: units(4) 0 units(2);
}

.era-guidance-card-highlight--docs {
  &__icon {
    width: 8rem;
    height: 100%;
    fill: color($theme-color-base-dark);
  }
}

.era-guidance-card-highlight--docs .era-guidance-card-highlight--docs__media {
  width: inherit;
}

.usa-alert {
  margin-bottom: 2rem;
}

// override for a site-wide style 
.usa-alert h4 {
  padding: 0;
}


// Program index styles
// ---------------------------------------------------------------------------
.era-program {
  &__toc {
    list-style-type: none;
    padding-left: 0;
  }

  &__section {
    margin: 60px 0 24px;
  }

  &__find {
    margin-top: 1.5em;
  }

  &__territory-url,
  &__tribe-url,
  &__state-url {
    margin: 8px 0;
    padding: 0;
  }

  &__name,
  &__admin,
  &__territory,
  &__tribe,
  &__state-url,
  &__territory-url,
  &__tribe-url,
  &__open-data {
    font-family: "Source Sans Pro", Calibri, sans-serif;
  }

  &__territory,
  &__tribe {
    padding-bottom: 4px;
    color: color($theme-color-primary-dark);
  }

  &__name,
  &__admin,
  &__territory,
  &__tribe {
    text-transform: capitalize;
  }

  &__state-url,
  &__territory-url,
  &__tribe-url,
  &__admin,
  &__list,
  &__status {
    font-size: 1.1em;
    line-height: 160%;
  }

  &__state-url,
  &__territory-url,
  &__tribe-url {
    margin-top: 0;
  }

  &__territory-url,
  &__tribe-url {
    font-weight: normal;
  }

  &__state-url {
    font-weight: bold;
  }

  &__state--v1 {
    margin-top: 40px;
  }

  &__open-data {
    margin-top: 48px;
  }

  &__list {
    margin-bottom: 16px;
  }

  &__url {
    margin: 0;
  }

  &__app-status {
    font-size: 2em;
    font-weight: bold;
  }

  &__app-status--accepting {
    color: color($theme-color-success-dark);
  }

  &__app-status--will-be-accepting {
    color: color($theme-color-warning-dark);
  }

  &__app-status--not-accepting {
    color: color($theme-color-error-dark);
  }
}

.era-guidance__hero {
  margin: units(4) 0;
}

// card/hero/base-lightest
.tre-card {
  &__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial,
      sans-serif;
    font-size: 1.06rem;
    line-height: 1.5;
  }

  &__header {
    padding: 1.5rem 1.5rem 0.5rem;
  }

  &__body {
    flex: 1 1 0%;
    padding: 0.5rem 1.5rem;
    flex-basis: auto;
  }

  &__footer {
    padding: 0.5rem 1.5rem 1.5rem;
  }
}

.tre-card-hero {
  &__header {
    padding-bottom: 1rem;
  }
}

.tre-card.tre-card-hero {
  // Have to override some style leaking in from layoutmanager h2
  .tre-card-hero__heading {
    font-size: 40px;
    line-height: 115%;
    margin: 0 !important;
    padding-bottom: 30px;
    background-image: none;
    font-weight: 300;
    font-family: Merriweather, Cambria, serif;
  }
}

.tre-card-hero--base-lightest {
  &__container {
    color: color($theme-color-base-ink);
    background-color: color($theme-color-base-lightest);
  }
}
