---
layout: default-one-col
permalink: /faqs/by-category/
section: faqs
sidenav: programs
title: FAQs by Category
---

{% assign faqs = site.faqs %}

{% assign admin_faqs = faqs | where: 'category', 'admin' %}
{% assign overview_faqs = faqs | where: 'category', 'eligibility' %}
{% assign doc_faqs = faqs | where: 'category', 'docs' %}
{% assign equity_faqs = faqs | where: 'category', 'equity' %}
{% assign eviction_faqs = faqs | where: 'category', 'eviction' %}
{% assign tribe_faqs = faqs | where: 'category', 'tribes' %}
{% assign pay_faqs = faqs | where: 'category', 'pay' %}

<h3 id="categories">Categories</h3>
<ul>
   <li><a href="#admin">Administer an ERA program</a></li>
   <li><a href="#eligibility">Determine tenant &amp; landlord eligibility</a></li>
   <li><a href="#pay">Understand what an ERA program can pay for</a></li>
   <li><a href="#equity">Ensure equity</a></li>
   <li><a href="#eviction">Setup eviction diversion</a></li>
   <li><a href="#docs">Gather documentation &amp; prepare reports</a></li>
   <li><a href="#tribes">Guidance specific to Tribes and Tribally Designated Housing Entities (TDHE)</a></li>
</ul>

<h2 id="admin" class="era-guidance-faq-category">Administer an ERA program</h2>
{% for faq in admin_faqs %}
<div class="era-guidance-faq">
  <h3 class="era-guidance-faq__title" id="{{faq.number}}">{{ faq.title }}</h3>
  <p>{{ faq.content | markdownify }}</p>
</div>
{% endfor %}
<a href="#categories">
  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#arrow_upward"></use>
  </svg>
  Return to top
</a>

<h2 id="eligibility" class="era-guidance-faq-category">
  Determine tenant &amp; landlord eligibility
</h2>
{% for faq in overview_faqs %}
<div class="era-guidance-faq">
  <h3 class="era-guidance-faq__title" id="{{faq.number}}">{{ faq.title }}</h3>
  <p>{{ faq.content | markdownify }}</p>
</div>
{% endfor %}
<a href="#categories">
  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#arrow_upward"></use>
  </svg>
  Return to top
</a>

<h2 id="docs" class="era-guidance-faq-category">
  Gather documentation &amp; prepare reports
</h2>
{% for faq in doc_faqs %}
<div class="era-guidance-faq">
  <h3 class="era-guidance-faq__title" id="{{faq.number}}">{{ faq.title }}</h3>
  <p>{{ faq.content | markdownify }}</p>
</div>
{% endfor %}
<a href="#categories">
  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#arrow_upward"></use>
  </svg>
  Return to top
</a>

<h2 id="equity" class="era-guidance-faq-category">Ensure equity</h2>
{% for faq in equity_faqs %}
<div class="era-guidance-faq">
  <h3 class="era-guidance-faq__title" id="{{faq.number}}">{{ faq.title }}</h3>
  <p>{{ faq.content | markdownify }}</p>
</div>
{% endfor %}
<a href="#categories">
  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#arrow_upward"></use>
  </svg>
  Return to top
</a>

<h2 id="eviction" class="era-guidance-faq-category">Setup eviction diversion</h2>
{% for faq in eviction_faqs %}
<div class="era-guidance-faq">
  <h3 class="era-guidance-faq__title" id="{{faq.number}}">{{ faq.title }}</h3>
  <p>{{ faq.content | markdownify }}</p>
</div>
{% endfor %}
<a href="#categories">
  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#arrow_upward"></use>
  </svg>
  Return to top
</a>

<h2 id="tribes" class="era-guidance-faq-category">Guidance specific to Tribes and Tribally Designated Housing Entities (TDHE)</h2>
{% for faq in tribe_faqs %}
<div class="era-guidance-faq">
  <h3 class="era-guidance-faq__title" id="{{faq.number}}">{{ faq.title }}</h3>
  <p>{{ faq.content | markdownify }}</p>
</div>
{% endfor %}
<a href="#categories">
  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#arrow_upward"></use>
  </svg>
  Return to top
</a>

<h2 id="pay" class="era-guidance-faq-category">Understand what an ERA program can pay for</h2>
{% for faq in pay_faqs %}
<div class="era-guidance-faq">
  <h3 class="era-guidance-faq__title" id="{{faq.number}}">{{ faq.title }}</h3>
  <p>{{ faq.content | markdownify }}</p>
</div>
{% endfor %}

<a href="#categories">
  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#arrow_upward"></use>
  </svg>
  Return to top
</a>
