---
layout: default-one-col
permalink: /
program: local
section: era
sidenav: programs
title: Emergency Rental Assistance Program
---

<div class="region region-content">
  <div
    id="block-hamilton-content"
    data-block-plugin-id="system_main_block"
    class="block block-system block-system-main-block no-underline">
    <article
      role="article"
      about="/policy-issues/coronavirus/assistance-for-state-local-and-tribal-governments/emergency-rental-assistance-program"
      class="entity--type-node node node--type-page node--view-mode-full era-article">
      <div class="content">
        <div class="
            field
            field--name-field-page-body
            field--type-text-long
            field--label-hidden
            field__item">
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-6 desktop:grid-col-7">
              <h3>Keeping Families in their Homes</h3>
              <p>
                Even as the American economy continues its recovery from the
                devastating impact of the pandemic, millions of Americans face deep
                rental debt and fear evictions and the loss of basic housing
                security. COVID-19 has exacerbated an affordable housing crisis that
                predated the pandemic and that has exacerbated deep disparities that
                threaten the strength of an economic recovery that must work for
                everyone.
              </p>
              <p>
                To meet this need, the Emergency Rental Assistance program makes
                funding available to assist households that are unable to pay rent
                or utilities. Two separate programs have been established: ERA1
                provides up to $25 billion under the Consolidated Appropriations
                Act, 2021, which was enacted on December 27, 2020, and ERA2 provides
                up to $21.55 billion under the American Rescue Plan Act of 2021,
                which was enacted on March 11, 2021. The funds are provided directly
                to states, U.S. territories, local governments, and (in the case of
                ERA1) Indian tribes. Grantees use the funds to provide assistance to
                eligible households through existing or newly created rental
                assistance programs.
              </p>
              <ul>
                <li>
                  <a href="https://home.treasury.gov/system/files/136/Treasury_Fact_Sheet_6-24-21.pdf">
                    ERA Fact Sheet</a>
                  (6/24/2021)
                </li>
                <li>
                  <a href="https://home.treasury.gov/system/files/136/FACT_SHEET-Emergency-Rental-Assistance-Program_May2021.pdf">
                    ERA Fact Sheet
                  </a>
                  (5/7/2021)
                </li>
              </ul>
            </div>
            <div class="tablet:grid-col-6 desktop:grid-col-5">
              {% include _card-program-index-v1.html %}
            </div>
          </div>

          <h3>FREQUENTLY ASKED QUESTIONS (FAQs)</h3>
          <h4>Recent updates</h4>
          <p>
            On June 24, 2021, Treasury updated its previously issued ERA FAQs to
            provide updates regarding ERA1 and ERA2 programs. All eligible
            entities should review these FAQs, which provide important
            information regarding the ERA.
          </p>
          <ul>
            <li>
              <a
                href="https://home.treasury.gov/system/files/136/ERA_FAQs_6-24-21.pdf"
              >
                All FAQs
              </a>
              (6/24/2021)
            </li>
            <li>
              <a href="{{ site.baseurl }}/faqs/by-category/">
                Browse FAQs by category
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/faqs/changes/">View all changes</a>
            </li>
          </ul>

          <h3>Promising Practices</h3>
          <h4>Recent updates</h4>
          <p>
            On July 31, 2021, Treasury updated promising practices around <a href="{{ site.baseurl }}/promising-practice-guides/eviction-diversion/">eviction diversion</a> including the addition of a maturity model and <a href="{{ site.baseurl }}/promising-practice-guides/forms/">example self-attestation forms</a>.
          </p>
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-6">
              <ul>
                <li>
                  <a href="{{ site.baseurl }}/promising-practice-guides/partnerships-in-program-implementation/">
                    Partnerships in Program Implementation
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/promising-practice-guides/outreach/">
                    Culturally and Linguistically Competent Outreach
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/promising-practice-guides/landlord-engagement/">
                    Intentional Landlord Engagement
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/promising-practice-guides/eviction-diversion/">
                    Partnerships with Broader Eviction Diversion Programs
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/promising-practice-guides/utilities/">
                    Collaboration with Local Utility Companies
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/promising-practice-guides/strategies/">
                    Adjusting Program Strategies to Meet Local Needs
                  </a>
                </li>
              </ul>
            </div>
            <div class="tablet:grid-col-6">
              <ul>
                <li>
                  <a href="{{ site.baseurl }}/promising-practice-guides/application-process/">
                    Making the Application Process Simple and User Friendly
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/promising-practice-guides/fact-specific-proxies/">
                    Using Fact-Specific Proxies to Establish Applicant Income
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/promising-practice-guides/application-prioritization/">
                    Automation Supporting Application Prioritization
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/promising-practice-guides/data/">
                    Data-Driven Program Strategies
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/promising-practice-guides/program-web-sites/">
                    Program Web sites
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {% include _card-example-forms.html %}

          <h3>REPORTING GUIDANCE</h3>
          <h4>Recent updates</h4>
          <p>
            All Emergency Rental Assistance (ERA1 and ERA2) Recipients have been notified of the requirement to submit Q2 partial reports via Treasury’s Portal by August 6, 2021.
          </p>
          <ul>
            <li>
              <a href="https://home.treasury.gov/system/files/136/ERA-Reporting-Guidance.pdf">ERA Reporting Guidance Version 1.0</a>provides detailed information on ERA1 and ERA2 reporting requirements and reporting deadlines. See Appendix 1 for details on the quarterly reporting required of Recipients that are Tribes, Tribally Designated Housing Entities, and the Department of Hawaiian Home Lands. This Guidance will be updated periodically and all updates will be posted here.
            </li>
            <li>
              <a href="https://home.treasury.gov/system/files/136/ERA-Treasury-Portal-User-Guide_v.1.pdf">User Guide: Treasury Portal for Recipient Reporting, ERA</a> program includes step-by-step guidance for submitting the required ERA1 and ERA2 reports using Treasury’s Portal. 
            </li>
          	<li>
              <a href="https://home.treasury.gov/system/files/136/ERA-Data-Dictionary_1.pdf">Data Dictionary</a>provides technical definitions and formats for the required report data and is designed specifically for use by Recipients’ data and reporting staff and consultants.
            </li>
          </ul>

          <p>Treasury is also providing program data reported by grantees:</p>
          <ul>
            <li>
              <a href="https://home.treasury.gov/system/files/136/ERA-Compliance-Report-06302021.xlsx">
                ERA Program Interim Report: January 1 – May 31, 2021
              </a>
            </li>
            <li>
              <a href="https://home.treasury.gov/system/files/136/2021-07-02-ERA-Data-Blog-Post-vF.pdf">
                Key Findings from Program Interim Report
              </a>
            </li>
            <li>
              <a href="https://home.treasury.gov/system/files/136/ERA-Compliance-Report-07202021.xlsx">
                ERA Program Monthly Compliance Report: June 1-30, 2021
              </a>
            </li>
            <li>
              <a href="https://home.treasury.gov/news/press-releases/jy0284">
                PRESS RELEASE: Treasury Data: Amount of June Emergency Rental Assistance Resources to Households More Than All Previous Months Combined
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /content -->
    </article>
    <!-- /article #node -->
  </div>
</div>
