---
layout: default-v3
permalink: /program-index/
program: local
section: era
sidenav: programs
title: Emergency Rental Assistance Programs
---

{% assign states = site.data.grantee-urls-states | group_by: "state" %}
{% assign territories = site.data.grantee-urls-territories | sort_by: "name"  %}
{% assign tribes = site.data.grantee-urls-tribes | sort_by: "name"  %}

{% include program-index-preamble.html %}

<h3 class="era-program__find">Find programs in...</h3>
<ul class="era-program__toc">
   <li><a href="#us-states">U.S. States</a></li>
   <li><a href="#us-territories">U.S. Territories</a></li>
   <li><a href="#tribes">Tribes and Tribally Designated Housing Entities (TDHEs)</a></li>
</ul>


<h2 id="us-states" class="era-program__section">U.S. States</h2>

{% for state in states %}
  {% assign slug_id = state.name | slugify %}
<div class="usa-accordion">
  <h4 class="usa-accordion__heading">
    <button class="usa-accordion__button"
          aria-controls="{{ slug_id }}-{{ forloop.index }}">
      {{ state.name }}
    </button>
  </h4>
  <div id="{{ slug_id }}-{{ forloop.index }}" class="usa-accordion__content">
  {% for program in state.items %}
    {% if program.recipient-type == 'State/DC' %}
    <h4 class="era-program__state">
      {{ state.name}}
    </h4>
    <a class="era-program__state-url" href="{{ program.URL }}" target="_blank">
      {{ program.URL }}
    </a>
      {% if program.recipient-name != '' %}
    <p class="era-program__admin">
      Administered by {{ program.recipient-name | downcase }}.
    </p>
      {% endif %}
      {% if program.no-program == 'true' %}
    <p>
      This state is not administering a state-level program.
    </p>
      {% endif %}
    {% else %}
    <dl class="era-program__list">
      <dt class="era-program__name">
        <a href="{{ program.URL | uri_escape }}" target="_blank">
          {{program.name | downcase }} - {{ program.recipient-name | downcase }}
        </a>
      </dt>
    </dl>
    {% endif %}
  {% endfor %}
 </div> 
</div>
{% endfor %}

<h2 id="us-territories" class="era-program__section">
  U.S. Territories
</h2>

{% for territory in territories %}
  <h4 class="era-program__territory">
    <a href="{{ territory.URL }}" target="_blank">
      {{ territory.name | downcase }}
    </a>
  </h4>
  <p class="era-program__admin">
    Administered by {{ territory.recipient-name }}.
  </p>
{% endfor %}

<h2 id="tribes" class="era-program__section">
  Tribes and Tribally Designated Housing Entities (TDHEs)
</h2>
<p>
  If you are tribal member or a member of a tribal community, please contact your tribe of affiliation for more information.
</p>

{% for tribe in tribes %}
  {% assign slug_id = tribe.name | slugify %}
  <h4 class="era-program__tribe">
    <a href="{{ tribe.URL }}" target="_blank">
      {{ tribe.recipient-name }}
    </a>
  </h4>
{% endfor %}

<p class="era-program__open-data">
  This data can also be accessed in JSON format for <a href="{{ site.baseurl }}/era-data/grantee-urls-states.json">states</a>, <a href="{{ site.baseurl }}/era-data/grantee-urls-territories.json">territories</a>, and <a href="{{ site.baseurl }}/era-data/grantee-urls-tribes">Tribes &amp; TDHEs</a>.
</p>