<!DOCTYPE html>
<html lang="en">
{% include _head.html %}

<body>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  {% include _banner.html %}
  {% include _header.html %}
  {% include _navigation.html %}
  {% include _breadcrumb.html %}
  <div class="era-article">
    <div class="grid-container">
      <div class="grid-row grid-gap">
      {% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
      {% if sidenav %}
        {% assign section-title = page.section | replace: '-', ' ' | capitalize %}
        <div class="usa-layout-docs__sidenav desktop:grid-col-3 era-article-sidenav">
          <div class="era-article-sidenav__container">
            {% include sidenav.html links=sidenav %}
          </div>
        </div>
      {% endif %}
        <main id="main-content" role="main" class="usa-layout-docs__main desktop:grid-col-9">
          {% if page.title %}
          <div id="block-hamilton-page-title" data-block-plugin-id="page_title_block" class="block block-core block-page-title-block no-underline">
            <h1><span>{{ page.title }}</span></h1>
          </div>
          {% endif %}
          {{ content }}
        </main>
      </div>
    </div>
  </div>

  {% include _footer.html %}

  <script src="{{ site.baseurl }}/assets/js/vendor/uswds.min.js"></script>
</body>
</html>